.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .error-image {
    max-width: 100%;
    height: 484px;
  }
  .error-type {
    font-size: 41px;
    font-family: "Roboto";
    margin-top: 30px;
  }
}
